---
import Layout from "@layouts/BaseLayout.astro"
import IntroSection from "@components/IntroSection.astro"
import AboutSection from "@components/AboutSection.astro"
import SkillsSection from "@components/SkillsSection.astro"
import ProjectsSection from "@components/ProjectsSection.astro"
import ContactSection from "@components/ContactSection.astro"

---

<Layout 
	title="Marcos Almorox | Web Developer Portfolio"
	description=""
>
	<div id="main-content">
		<IntroSection />

		<AboutSection />

		<SkillsSection />

		<ProjectsSection />

		<ContactSection />
	</main>
</Layout>

<style>
	
</style>
