---
---
<section id="about">
    <div class="about-container">
        <h2 class="about-title"> Sobre mí </h2>
        <p class="about-text-main">
            Ejemplo
            <a
                href=""
                class=""
                target="_blank"
                rel="noopener noreferer"
            >
                Ejemplo
            <a
                href=""
                class=""
                target="_blank"
                rel="noopener noreferer"
            > Ejemplo </a>
            Ejemplo
            <br />
            Ejemplo
        </p>
        <p class="">
            Ejemplo
        </p>
        <a 
            href=""  
            target="_blank"
            rel="noopener"
            class=""
        >
            Ejemplo
            <svg class="">
                <use xlink:href="sprite.svg#arrow-n-right"></use>
            </svg>
        </a>
    </div>
</section>

<style>
    .about-container {
        @apply max-w-screen-xl mx-auto flex flex-col px-4;
    }

    .about-title {
        @apply text-3xl font-bold text-left text-blue-500
    }

    .about-text-main {
        @apply text-lg text-left text-gray-700 mb-4
    }
</style>