---

---
<div class="contact-section">
    <h2 class="contact-title"> Contacto </h2>
    <p class="contact-text">
        Si deseas ponerte en contacto conmigo, no dudes en escribirme a través de mis redes sociales o enviarme un correo electrónico.
    </p>
    
</div>

<style>
    .contact-section {
        @apply flex flex-col
    }

    .contact-title {
        @apply text-3xl font-bold text-left text-blue-500
    }

    .contact-text {
        @apply text-lg text-left text-gray-700 mb-4
    }
</style>