---

---
<section id="contact">
    <div class="contact-container">
        <div class="contact-text-wrapper">
            <h2 class="contact-title"> Contacta conmigo </h2>
            <p class="contact-text">
                ¿Quieres contratarme, contarme sobre tus 
                (futuros) proyectos o tienes alguna pregunta para mí?
            </p>
            <p class="contact-text">
                Si lo prefieres, también puedes enviarme un email a <br />
                <a
                    href="mailto:marcos.almorox@gmail.com?subject=Contact from aaronharinck.be"
                    class="contact-text-link"
                >
                    marcos.almorox@gmail.com
                </a>
            </p>
        </div>
        <form
            name="contact"
            method="POST"
            class="contact-form"
        >
            <div class="form-field">
                <label for="contact-identifier">Tu nombre (o empresa)</label>
                <input
                    type="text"
                    class="form-field-input"
                    id="contact-identifier"
                    name="identifier"
                    autocomplete="off"
                    minlength="2"
                />
            </div>
            <div class="form-field">
                <label for="contact-email">Tu correo electrónico</label>
                <input
                    type="email"
                    class="form-field-input"
                    id="contact-email"
                    name="email"
                    autocomplete="off"
                    required
                />
            </div>
            <div class="form-field" id="form-textarea">
                <label for="contact-email">Mensaje:</label>
                <textarea
                    class="form-field-input"
                    id="contact-message"
                    name="message"
                    placeholder="Cuéntame sobre las vacantes en tu empresa o sobre tu(s) proyecto(s)."
                    autocomplete="off"
                    minlength="6"
                    maxlength="10000"
                    required></textarea>
            </div>
            <div class="form-field">
                <button class="form-button" type="submit">
                    Enviar mensaje
                </button>
            </div>
        </form>
    </div>
</section>

<style>
    #contact {
        @apply pt-20 pb-28
    }

    .contact-container {
        @apply max-w-screen-xl mx-auto flex flex-row px-6 gap-10;
    }

    .contact-title {
        @apply text-6xl font-semibold text-left mt-5 mb-8;
        color: hsl(240, 20%, 99%)
    }

    .contact-text-wrapper {
        @apply flex flex-col flex-1;
        gap: .25rem;
    }

    .contact-text {
        @apply text-lg text-left text-zinc-400 my-4
    }

    .contact-text:last-child {
        @apply mt-8;
        color: hsl(240, 20%, 99%)
    }

    .contact-text-link {
        @apply text-2xl font-semibold;
        color: hsl(240, 20%, 99%);
        text-decoration: underline;
        text-decoration-thickness: 5px;
        text-underline-offset: 0.4rem;
        transition: 0.2s color ease;
    }

    .contact-text-link:hover {
        color: #f48d26;
    }

    .contact-form  {
        @apply flex flex-col w-5/12
    }

    .contact-form label {
        @apply flex pt-1 pb-2 text-zinc-500
    }

    #contact-identifier,
    #contact-email,
    #contact-message {
        @apply w-full border border-gray-300 rounded-lg mb-4;
        background-color: hsl(0, 0%, 16%);
        border: solid 2px hsl(240, 20%, 99%);
        padding: 1rem;
        color: hsl(240, 20%, 99%);
    }

    #contact-identifier:focus,
    #contact-email:focus,
    #contact-message:focus {
        border-color: #f48d26;
        outline: 1.75px solid #f48d26;
    }

    #contact-message {
        @apply rounded-br-3xl;
        min-height: 140px;
        max-height: 400px;  
        resize: vertical;
        overflow-y: auto;
    }
    
    .form-field {
        @apply m-0
    }

    .form-field input {
        margin: 0;
    }

    .form-button {
        @apply text-xl px-6 py-4 rounded-lg rounded-tr-3xl font-bold;
        background-color: #f47226;
        color: hsl(240, 20%, 99%);
        transition: 0.3s transform ease, 0.3s background-color ease;
    }
    
    .form-button:hover {
        background-color: #8f451a;
        outline: 4px solid #f47226;
        outline-offset: -4px;
        transform: scale3d(1.1, 1.1, 1);
    }
</style>