---

---
<section id="contact">
    <div class="contact-container">
        <div class="contact-text-wrapper">
            <h2 class="contact-title"> Ponte en contacto conmigo </h2>
            <p class="contact-text">
                Si deseas ponerte en contacto conmigo, no dudes en escribirme 
                a través de mis redes sociales o enviarme un correo electrónico.
            </p>
            <p class="contact-text">
                Si lo prefieres, también puedes enviarme un email a <br />
                <a
                    href="mailto:marcos.almorox@gmail.com?subject=Contact from aaronharinck.be"
                    class="contact-text-link"
                >
                    marcos.almorox@gmail.com
                </a>
            </p>
        </div>
        <form
            name="contact"
            method="POST"
            class="contact-form"
        >
            <div class="form-field">
                <label for="contact-identifier">Tu nombre (o empresa)</label>
                <input
                    type="text"
                    id="contact-identifier"
                    name="identifier"
                    minlength="2"
                />
            </div>
            <div class="form-field">
                <label for="contact-email">Tu correo electrónico</label>
                <input
                    type="email"
                    id="contact-email"
                    name="email"
                    autocomplete="off"
                    required
                />
            </div>
            <div class="form-field" id="form-textarea">
                <label for="contact-email">Mensaje:</label>
                <textarea
                    id="contact-message"
                    name="message"
                    placeholder="Cuéntame sobre las vacantes en tu empresa o sobre tu(s) proyecto(s)"
                    autocomplete="off"
                    minlength="6"
                    maxlength="10000"
                    required></textarea>
            </div>
            <div class="form-field form-button">
                <button class="btn btn-primary form-button" type="submit">
                    Enviar mensaje
                </button>
            </div>
        </form>
    </div>
</section>

<style>
    #contact {
        @apply pt-20 pb-28
    }

    .contact-container {
        @apply max-w-screen-xl mx-auto flex flex-row px-6 gap-10;
    }

    .contact-title {
        @apply text-5xl font-bold text-left text-blue-500
    }

    .contact-text {
        @apply text-lg text-left text-gray-700 mb-4
    }

    .contact-text-wrapper {
        @apply flex-1
    }
    
    .contact-form  {
        @apply flex flex-col w-5/12
    }

    .contact-form label {
        @apply flex pt-1 pb-2;
        color: #a19cb0;
    }

    #contact-identifier,
    #contact-email,
    #contact-message {
        @apply w-full border border-gray-300 rounded-md p-2 mb-4;
        background-color: hsl(0, 0%, 16%);
    }
    
    .form-field {
        @apply m-0
    }

    .form-field input {
        margin: 0;
    }

    .form-button {
        @apply text-xl
    }
</style>