---
import SocialMedia from '@components/ui/SocialMedia.astro'
import logo from '@assets/images/logo-MarcosAlmorox-black.png'
import { HiDownload } from "react-icons/hi";

const currentYear = new Date().getFullYear()
---
<footer>
    <div class="footer-container">
        <h2 id="footer-title"> ¡Conectemos! </h2>
        <address>
            <SocialMedia />
        </address>
        <div class="footer-bar">
            <div class="sitemap">
                <p class="sitemap-title"> Contenido </p>
                <nav aria-label="sitemap navigation">
                    <a href="#about"> Sobre mí </a>
                    <a href="#skills"> Habilidades </a>
                    <a href="#projects"> Proyectos </a>
                    <a href="#contact"> Contacto </a>
                </nav>
            </div>

            <img src={logo.src} alt="Logo de Marcos Almorox" class="footer-logo" />

            <a
                href="/cv/marcos-almorox_cv-resume.pdf"
                class="cv-link"
                target="_blank"
            >
                Descarga mi curriculum vitae
                <HiDownload className="cv-link-icon" />
            </a>
        </div>
        
        <small> Diseñado y desarrollado por Marcos Almorox — &copy;{currentYear} </small>
    </div>
</footer>

<style>
    footer {
        @apply text-gray-800 pt-16 pb-7;
        background-color: hsl(240, 20%, 99%);
    }

    .footer-container {
        @apply max-w-screen-xl mx-auto flex flex-col px-6 pt-8
    }

    #footer-title {
        @apply text-6xl font-bold text-left
    }

    .footer-bar {
        @apply flex justify-between mt-14 mb-6 items-center
    }

    .sitemap {
        @apply flex flex-col gap-2
    }

    .sitemap-title {
        @apply text-lg font-semibold uppercase text-zinc-500
    }

    .sitemap nav {
        @apply flex justify-between;
        gap: 1rem;
    }

    .sitemap nav a {
        @apply underline underline-offset-4 text-zinc-700;
        transition: 0.3s color ease;
    }

    .sitemap nav a:hover {
        @apply text-zinc-400
    }

    .sitemap nav a:focus-visible {
        @apply outline-none ring-2 ring-blue-500;
    }

    .footer-logo {
        @apply w-24 h-24;
    }

    .cv-link {
        @apply flex items-center gap-1.5 text-xl font-semibold px-6 py-4 rounded-lg rounded-tr-3xl text-zinc-800 border-4 border-zinc-800;
        transition: 0.3s transform ease, 0.3s background-color ease, 0.3s color ease;
    }

    .cv-link:hover {
        @apply bg-zinc-800;
        color: hsl(240, 20%, 99%);
    }

    .cv-link-icon {
        @apply w-7 h-7 text-zinc-800;
        transition: 0.3s transform ease
    }

    .cv-link:hover .cv-link-icon {
        color: hsl(240, 20%, 99%);
        transform: translateY(0.25rem);
    }

    small {
        @apply text-gray-500 
    }
</style>
