---
const currentYear = new Date().getFullYear();
---

<footer>
    <div class="sitemap">
        <p class="sitemap-title"> Contenido </p>
        <nav aria-label="sitemap navigation">
            <a href="/#about"> About </a>
            <a href="/#skills"> Skills </a>
            <a href="/#proyectos"> Proyectos </a>
            <a href="/#posts"> Posts </a>
            <a href="/#contacto"> Contacto </a>
        </nav>
    </div>
    <small> Diseñado y desarrollado por Marcos Almorox — &copy;{currentYear} </small>
</footer>