---
import SocialMedia from "@components/ui/SocialMedia.astro"

const currentYear = new Date().getFullYear()
---
<footer>
    <div class="footer-container">
        <h2 id="footer-title"> ¡Conectémonos! </h2>
        <address>
            <SocialMedia />
        </address>
        <div class="footer-bar">
            <div class="sitemap">
                <p class="sitemap-title"> Contenido </p>
                <nav aria-label="sitemap navigation">
                    <a href="/#intro"> Sobre mí </a>
                    <a href="/#skills"> Habilidades </a>
                    <a href="/#proyectos"> Proyectos </a>
                    <a href="/#contacto"> Contacto </a>
                </nav>
            </div>

            <a
                href="/cv/marcos-almorox_cv-resume.pdf"
                class="cv-link"
                target="_blank"
            >
                Descarga mi curriculum vitae
            </a>
        </div>
        
        <small> Diseñado y desarrollado por Marcos Almorox — &copy;{currentYear} </small>
    </div>
</footer>

<style>
    footer {
        @apply bg-gray-800 text-white
    }

    .footer-container {
        @apply container mx-auto py-8 px-4
    }

    #footer-title {
        @apply text-3xl font-bold text-center
    }

    .footer-bar {
        @apply flex flex-col
    }

    .sitemap {
        @apply mb-4;
    }

    .sitemap-title {
        @apply text-lg font-bold
    }

    nav {
        @apply flex flex-col
    }

    a {
        @apply text-white
    }

    .cv-link {
        @apply text-white text-center py-2 bg-blue-500 rounded-lg
    }
</style>