---
import SocialMedia from '@components/ui/SocialMedia.astro'

const currentYear = new Date().getFullYear()
---
<footer>
    <div class="footer-container">
        <h2 id="footer-title"> ¡Conectemos! </h2>
        <address>
            <SocialMedia />
        </address>
        <div class="footer-bar">
            <div class="sitemap">
                <p class="sitemap-title"> Contenido </p>
                <nav aria-label="sitemap navigation">
                    <a href="#about"> Sobre mí </a>
                    <a href="#skills"> Habilidades </a>
                    <a href="#projects"> Proyectos </a>
                    <a href="#contact"> Contacto </a>
                </nav>
            </div>

            <a
                href="/cv/marcos-almorox_cv-resume.pdf"
                class="cv-link"
                target="_blank"
            >
                Descarga mi curriculum vitae
            </a>
        </div>
        
        <small> Diseñado y desarrollado por Marcos Almorox — &copy;{currentYear} </small>
    </div>
</footer>

<style>
    footer {
        @apply text-gray-800 pt-12 pb-6;
        background-color: hsl(240, 20%, 99%);
    }

    .footer-container {
        @apply max-w-screen-xl mx-auto flex flex-col px-6
    }

    #footer-title {
        @apply text-5xl font-bold text-left
    }

    .footer-bar {
        @apply flex justify-between mt-9 mb-6
    }

    .sitemap {
        @apply flex flex-col gap-2
    }

    .sitemap-title {
        @apply text-lg font-bold
    }

    .sitemap nav {
        @apply flex justify-between;
        gap: 1rem;
    }

    .sitemap nav a {
        @apply underline underline-offset-4 text-gray-800;
    }

    .sitemap nav a:hover {
        @apply text-blue-500;
    }

    .sitemap nav a:focus-visible {
        @apply outline-none ring-2 ring-blue-500;
    }

    .cv-link {
        @apply flex justify-center border-gray-800 px-4 pr-5 rounded-lg rounded-br-2xl font-semibold transition-colors duration-300
    }

    small {
        @apply text-gray-500 
    }
</style>
