---
---
<section id="intro">
    <div class="intro-container">
        <header class="intro-header">
            <div class="intro-header-text">
                <div class="intro-header-title">
                    <h3 class=""> Marcos Almorox </h3>
                    <h1 class=""> Desarrollador front-end creativo, </h1>
                </div>
                <p class="intro-text">
                    
                </p>
                <div class="buttons-wrapper">
                    <a href="#contact" class=""> </a>
                    <a href="#about" class="">
                        
                        <svg class="icon icon-down">
                            <use xlink:href="sprite.svg#arrow-down"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="intro-header-img">

            </div>
        </header>
    </div>
</section>

<style>

</style>