---
import PersonalImage from "@components/PersonalImage.astro";
---
<section id="intro">
    <div class="intro-container">
        <header class="intro-header">
            <div class="intro-header-text">
                <h1 class="intro-title">
                    <span class="title-small"> Marcos Almorox. </span>
                    <span class="title-big"> Desarrollador web <span class="text-gradient">full-stack</span> español </span>
                </h1>
                <p class="intro-text">
                    I create kick-ass websites & apps, from design to code
                </p>
                <div class="buttons-wrapper">
                    <a href="#contact" class="">Ponte en contacto</a>
                    <a href="#about" class="">
                        Scrollea para ver más
                    </a>
                </div>
            </div>
            <div class="intro-header-img">
                <PersonalImage />
            </div>
        </header>
    </div>
</section>

<style>
    .intro-container {
        @apply max-w-screen-xl mx-auto flex flex-col px-6;
    }

    .intro-header {
        @apply flex items-center justify-between gap-8
    }

    .intro-header-text {
        @apply text-left flex-1 min-w-[300px];
    }

    .intro-title {
        color: hsl(240, 20%, 99%);
    }

    .title-small {
        @apply block text-xl;
        color: hsl(0, 0%, 60%);;
    }

    .title-big {
        @apply text-7xl font-bold
    }

    .text-gradient {
        background-image: linear-gradient(20deg, #e76a23, #fac937);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 100% 200%;
        background-position-y: 100%;
        animation-name: pulse;
        animation-duration: 3.3s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }

    @keyframes pulse {
        0%,
        100% {
            background-position-y: 0%;
        }
        50% {
            background-position-y: 80%;
        }
    }

    .intro-text {
        @apply text-lg text-gray-700 py-5
    }

    .buttons-wrapper {
        @apply flex gap-4 my-7
    }

    .intro-header-img {
        @apply flex justify-end flex-1 min-w-[300px];
    }
</style>