---
---
<header>
    <nav class=" nav-container">
        <a href="/" class="nav-logo" aria-label="">
            <svg
                width="80"
                height="80"
                fill=""
                xmlns=""
                class=""
            >
                <path
                    d=""
                    style=""> </path>
            </svg>
        </a>
        <!--<div class="nav-wrapper">
            <div
                class="nav-hamburger navbtn navbtn--menu"
                id="menu-navbtn"
                aria-expanded="false"
                aria-controls="menu"
                aria-label="mobile nav toggle"
                role="button"
            >
                <div class="nav-hamburger__icon"></div>
        </div>-->
        <ul role="menubar" class="nav-links">
            <li role="none">
                <a
                    role="menuitem"
                    href="/#about"
                    class="nav-link"
                >
                    Sobre mí
                </a>
            </li>
            <li role="none">
                <a
                    role="menuitem"
                    href="/#projects"
                    class="nav-link"
                >
                    Trabajo
                </a>
            </li>
            <li role="none">
                <a
                    role="menuitem"
                    href="/#contact"
                    class="nav-link"
                > 
                    Contacto
                </a>
            </li>
            <li role="none">
                <a
                    role="menuitem"
                    href="/cv/marcos-almorox_cv-resume.pdf"
                    class="nav-link nav-button"
                >
                    CV / Resume
                </a>
            </li>
        </ul>
    </nav>
</header>

<style>
    header {
        @apply bg-white shadow-md
    }

    .nav-container {
        @apply container mx-auto flex justify-between items-center py-2 px-4
    }

    .nav-logo {
        @apply flex items-center
    }

    .nav-links {
        @apply flex gap-4
    }

    .nav-link {
        @apply text-lg font-bold text-gray-800
    }

    .nav-button {
        @apply bg-blue-500 text-white px-4 py-2 rounded-lg
    }
    
</style>