---
---

<header>
    <nav class="container nav-container">
        <a href="/" class="logo-link" aria-label="Go to homepage">
            <svg
                width=""
                height=""
                fill=""
                xmlns=""
                class=""
            >
                <path
                    d=""
                    style=""> </path>
            </svg>
        </a>
        <div class="nav-wrapper">
        <div
            class="nav-hamburger navbtn navbtn--menu"
            id="menu-navbtn"
            aria-expanded="false"
            aria-controls="menu"
            aria-label="mobile nav toggle"
            role="button"
        >
            <div class="nav-hamburger__icon"></div>
        </div>
        <ul role="menubar" class="nav-links" id="menu">
            <li role="none">
                <a
                    role="menuitem"
                    href="/#about"
                    class="nav-link navbtn custom-underline"
                >
                    About
                </a>
            </li>
            <li role="none">
                <a
                    role="menuitem"
                    href="/#projects"
                    class="nav-link navbtn custom-underline"
                >
                    Trabajo
                </a>
            </li>
            <li role="none">
                <a
                    role="menuitem"
                    href="/#contact"
                    class="nav-link navbtn custom-underline"
                > 
                    Contacto
                </a>
            </li>
            <li role="none">
                <a
                    role="menuitem"
                    href="/cv/aaron-harinck-cv-resume-2023.pdf"
                    class="nav-link navbtn navbtn--accent"
                >
                    CV / Resume
                </a>
            </li>
        </ul>
    </nav>
</header>

<style>
    
</style>