---
import SunIcon from '@assets/icons/SunIcon'
import MoonIcon from '@assets/icons/MoonIcon'
import LenguageSwitcher from '@components/ui/LenguageSwitcher.astro'
---
<header>
    <nav class="nav-container">
        <a href="/" class="nav-logo" aria-label="">
            <img src="../../assets/images/imagen.webp" alt="Logo de Marcos Almorox" class="logo" />
        </a>
        <ul role="menubar" class="nav-links">
            <li role="none">
                <a
                    role="menuitem"
                    href="/#about"
                    class="nav-link"
                >
                    Sobre mí
                </a>
            </li>
            <li role="none">
                <a
                    role="menuitem"
                    href="/#projects"
                    class="nav-link"
                >
                    Trabajo
                </a>
            </li>
            <li role="none">
                <a
                    role="menuitem"
                    class="nav-link"
                > 
                    <button
                        onclick=""
                        class=""    
                    >
                        Contacto
                    </button>
                </a>
            </li>
            <li role="none">
                <a
                    role="menuitem"
                    href="/cv/marcos-almorox_cv-resume.pdf"
                    class="nav-link nav-button"
                >
                    CV / Resume
                </a>
            </li>
        </ul>
        <!-- <div class="nav-lenguage-switcher">
            <LenguageSwitcher />
        </div> -->
    </nav>
</header>

<style>
    header {
        
    }

    .nav-container {
        @apply max-w-screen-xl mx-auto flex flex-row justify-between items-center py-5 px-6
    }

    .nav-logo {
        
    }

    .nav-logo .logo {
        @apply w-16 h-16
    }

    .nav-links {
        @apply flex gap-4
    }

    .nav-link {
        @apply text-lg font-bold text-gray-800
    }

    .nav-button {
        @apply bg-blue-500 text-white px-4 py-2 rounded-lg
    }
    
</style>