---
//import SunIcon from '@assets/icons/SunIcon'
//import MoonIcon from '@assets/icons/MoonIcon'
import LenguageSwitcher from '@components/ui/LenguageSwitcher.astro'
import logo from '@assets/images/logo-MarcosAlmorox.png'
---
<header>
    <nav class="nav-container">
        <a href="/" class="nav-logo" aria-label="">
            <img src={logo.src} alt="Logo de Marcos Almorox" class="logo" />
        </a>
        <ul role="menubar" class="nav-links">
            <li role="none">
                <a
                    role="menuitem"
                    href="/#about"
                    class="nav-link"
                >
                    Sobre mí
                </a>
            </li>
            <li role="none">
                <a
                    role="menuitem"
                    href="/#projects"
                    class="nav-link"
                >
                    Trabajo
                </a>
            </li>
            <li role="none">
                <a
                    role="menuitem"
                    class="nav-link"
                > 
                    <button
                        onclick=""
                        class=""    
                    >
                        Contacto
                    </button>
                </a>
            </li>
            <li role="none">
                <a
                    role="menuitem"
                    href="/cv/marcos-almorox_cv-resume.pdf"
                    class="nav-link nav-button"
                >
                    CV / Resume
                </a>
            </li>
        </ul>
        <!-- <div class="nav-lenguage-switcher">
            <LenguageSwitcher />
        </div> -->
    </nav>
</header>

<style>
    header {
        
    }

    .nav-container {
        @apply max-w-screen-xl mx-auto flex flex-row justify-between items-center py-5 px-6
    }

    .nav-logo {
        
    }

    .nav-logo .logo {
        @apply w-16 h-16
    }

    .nav-links {
        @apply flex gap-7
    }

    .nav-link {
        @apply text-lg font-bold;
        color: hsl(240, 20%, 99%);
    }

    .nav-button {
        @apply px-6 py-4 rounded-lg rounded-tr-3xl;
        background-color: #f47226;
        color: hsl(240, 20%, 99%);
    }
    
    .nav-button:hover {
        background-color: #e1651d;
        outline: 4px solid #f47226;
        outline-offset: -4px;
        color: hsl(240, 20%, 99%);
    }
</style>