---
import LenguageSwitcher from '@components/ui/LenguageSwitcher.astro'
import logo from '@assets/images/logo-MarcosAlmorox.png'
---
<header>
    <nav class="nav-container">
        <a href="/" class="nav-logo" aria-label="">
            <img src={logo.src} alt="Logo de Marcos Almorox" class="logo" />
        </a>
        <ul role="menubar" class="nav-links">
            <li role="none">
                <a
                    role="menuitem"
                    href="/#about"
                    class="nav-link custom-underline"
                >
                    Sobre mí
                </a>
            </li>
            <li role="none">
                <a
                    role="menuitem"
                    href="/#projects"
                    class="nav-link custom-underline"
                >
                    Trabajo
                </a>
            </li>
            <li role="none">
                <a
                    role="menuitem"
                    href="/#contact"
                    class="nav-link custom-underline"
                > 
                    Contacto
                </a>
            </li>
            <li role="none">
                <a
                    role="menuitem"
                    href="/cv/marcos-almorox_cv-resume.pdf"
                    class="nav-link nav-button"
                    target="_blank"
                >
                    CV / Resume
                </a>
            </li>
        </ul>
        <!-- <div class="nav-lenguage-switcher">
            <LenguageSwitcher />
        </div> -->
    </nav>
</header>

<style>
    .nav-container {
        @apply max-w-screen-xl mx-auto flex flex-row justify-between items-center py-6 px-6
    }

    .nav-logo {
        @apply flex items-center my-2;
    }

    .nav-logo .logo {
        @apply w-auto h-11;
    }

    .nav-links {
        @apply flex gap-7
    }

    .nav-link {
        @apply text-xl font-bold;
        color: hsl(240, 20%, 99%);
        position: relative;
    }

    .custom-underline::after {
        content: "";
        position: absolute;
    }

    li[role="none"] .custom-underline::after {
        top: 120%;
        height: .25rem;
        left: 0;
        right: 0;
        background-color: hsl(240, 20%, 99%);
        transform-origin: center left;
        transform: scaleX(0);
        transition: 0.5s cubic-bezier(0, 0, .3, 1) transform;
    }
    li[role="none"]:hover .custom-underline::after {
        transform: scaleX(1);
        transition: 0.3s cubic-bezier(0.61, 0.48, 0.15, 1) transform;
    }

    .nav-button {
        @apply px-6 py-4 rounded-lg rounded-tr-3xl;
        background-color: #f47226;
        background-image: linear-gradient(to bottom, #e76a23, #fac937);
        background-size: 100% 200%;
        background-position: top;
        color: hsl(240, 20%, 99%);
        transition: background-position 0.4s ease, background-color 0.4s ease;
    }
    
    .nav-button:hover {
        background-position: bottom;
        background-color: transparent;
    }
</style>