---
import imageBaseUrl from '@assets/images/profile-photo.jpg';
---

<div class="personal-image-wrapper">
    <img
        src={imageBaseUrl.src}
        alt="Marcos Almorox"
        class="personal-image"
    />
</div>

<style>
    .personal-image-wrapper {
        @apply my-12 ml-24 flex items-center justify-center overflow-hidden rounded-3xl;
        height: 510px;
        width: 420px; 
    }

    .personal-image {
        height: 100%;
        width: auto;
        object-fit: cover;
        object-position: 70% 20%;
        transform: scale(1.2);
    }
</style>