---
import Technology from '@components/ui/Technology.astro'

const techSkills = []
---
<section id="skills">
    <div class="skills-container">
        <h2 class="skills-title"> Mis habilidades </h2>
        
    </div>
</section>

<style>

</style>