---
import Technology from '@components/ui/Technology.astro'
import techData from '@data/technologies.json'

const techSkills = {
    'frontend': ['htmlcss', 'javascript', 'typescript', 'react', 'astro', 'tailwind'],
    'backend': ['node', 'php', 'csharp', 'java', 'python'],
    'databases': ['mysql', 'mongodb'],
    'devops': ['docker', 'apache', 'nginx', 'git']
}

const allTechnologies = techData.technologies

function getTechnologyData(techId: string) {
    return allTechnologies.find(t => t.technology === techId)
}
---
<section id="skills">
    <div class="skills-container">
        <h2 class="skills-title"> Mis habilidades </h2>
        <div>
            <div class="skills-table">
                {Object.entries(techSkills).map(([category, technologies]) => (
                    <div class="skill-row">
                        <div class="skill-category">
                            <div class="skill-category-text">
                                <h3> {category} </h3>
                            </div>
                        </div>
                        <div class="skill-technologies">
                            {technologies.map(t => {
                                const tech = getTechnologyData(t)
                                return tech ? <Technology name={tech.name} logo={tech.logo} /> : null
                            })}
                        </div>
                    </div>
                ))}
            </div>
        </div>
    </div>
</section>

<style>
    #skills {
        @apply py-20
    }

    .skills-container {
        @apply max-w-screen-xl mx-auto flex flex-col px-6
    }

    .skills-title {
        @apply text-4xl font-bold text-left text-blue-500 mb-10
    }

    .skills-grid {
        @apply grid grid-cols-1 gap-6;
    }

    .skill-row {
        @apply grid grid-cols-[auto,1fr] items-center border-b-2 border-gray-400;
    }

    .skill-row:last-child {
        border-bottom: none;
    }

    .skill-category {
        @apply flex items-center justify-center text-gray-400 text-lg px-16 border-r-2 border-gray-400 h-full
    }

    .skill-category-text {
        @apply text-center w-32
    }

    .skill-category-text h3 {
        @apply font-bold text-2xl text-gray-300
    }

    .skill-technologies {
        @apply flex flex-wrap gap-14 w-[95%] mx-8 py-5 justify-start
    }

    .tech-badge {
        @apply bg-blue-100 text-blue-800 text-sm font-medium px-3 py-1 rounded-full;
    }
</style>