---
---
<ul class="connect-links">
    <li class="connect-element">
        <a
            href="mailto:marcos.almorox@gmail.com"
            class="connect-link"
        >
            Email
        </a>
    </li>
    <li class="connect-element">
        <a
            href="https://www.linkedin.com/in/marcosalmorox/"
            class="connect-link"
            target="_blank"
            rel="noopener"
        >
            LinkedIn
        </a>
    </li>
    <li class="connect-element">
        <a
            href="https://github.com/malmorox"
            class="connect-link"
            target="_blank"
            rel="noopener"
        >
            GitHub
        </a>
    </li>
</ul>

<style>
    .connect-links {
        @apply flex flex-row justify-center
    }

    .connect-element {
        @apply mx-4
    }

    .connect-link {
        @apply text-white
    }
</style>