---
import { iconMap } from '@utils/iconMap'

const { 
    technology
} = Astro.props
const Icon = iconMap[technology]
---
{Icon && 
    <div class="tech-item">
        <Icon className="tech-icon" />
    </div>
}

<style>
    .tech-item {
        @apply flex items-center justify-center bg-zinc-800;
        padding: 5px;
        border-radius: 4px;
    }

    .tech-icon {
        @apply w-6 h-6 text-zinc-200
    }
</style>